.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    background-color: #282828;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .album-cover {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
  }
  
  .player-controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .song-info {
    margin-bottom: 4px;
  }
  
  .song-title {
    font-size: 16px;
    color: #fff;
    margin: 0;
  }
  
  .artist {
    font-size: 12px;
    color: #b3b3b3;
    margin: 0;
  }
  
  .progress-bar {
    width: 100%;
    height: 4px;
    background-color: #4f4f4f;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .progress {
    width: 50%;
    height: 100%;
    background-color: #1db954;
    transform-origin: left;
    animation: progress-animation 10s linear infinite;
  }
  
  .buttons {
    display: flex;
  }
  

  .center-align-div {
    display: flex;
          display: flex;
        flex-direction: column; /* Arrange children vertically */
        align-items: stretch;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set the height to full viewport height */
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set the height to full viewport height */
  }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .play-btn,
  .pause-btn {
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
    transition: transform 0.2s ease-in-out;
  }
  
  .play-btn:hover,
  .pause-btn:hover {
    transform: scale(1.2);
  }
  
  @keyframes progress-animation {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }
  .playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    border-radius: 10px;
    padding: 16px;
    margin: auto;
    justify-content: center;
    max-width: fit-content;
    background-size: cover;
  }
  .song-card {
    border: 1px solid blue; /* Add a border for debugging */
  }

  .form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  .input {
    max-width: 190px;
    background-color: #1a1a1a;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
  }
  
  .input:focus {
    animation: rotateShadow 2s infinite linear;
  }
  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 0px 0px #aa00ff, 2px 2px 0px 0px #3700ff;
    }
    25% {
      box-shadow: -2px 2px 0px 0px #aa00ff, 2px -2px 0px 0px #3700ff;
    }
    50% {
      box-shadow: 2px 2px 0px 0px #aa00ff, -2px -2px 0px 0px #3700ff;
    }
    75% {
      box-shadow: 2px -2px 0px 0px #aa00ff, -2px 2px 0px 0px #3700ff;
    }
    100% {
      box-shadow: -2px -2px 0px 0px #aa00ff, 2px 2px 0px 0px #3700ff;
    }
  }
  
  .centered {

    /* .playlist-container { */
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #282828;
      border-radius: 10px;
      padding: 16px;
      margin: auto;
      justify-content: center;
      max-width: fit-content;
      background-size: cover;
    /* } */
  }