
.ui-div {
    width: 300px;
    height: 75px;
    background: rgb(17, 4, 134);
    border-radius: 3px;
    /* box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px ,rgb(0, 0, 0, 0.7) -5px 0px 250px; */
    display: flex;
    /* color: white; */
    position: relative;
    flex-direction: row;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    /* transition: all 0.3s ease-in-out; */
    overflow: visible;
}

.track-cover {
    margin: 8px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    /* color: white; */
    justify-content: center;
    position: relative;
    flex-direction: row;
    background: linear-gradient(to right, rgb(10, 0, 8), rgb(6, 9, 5));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.song-details {
    margin: 8px;
    width: 150px;
    height: 60px;
    flex-direction: column;
}

.song-title {
    font-size: 2vh;
    margin: 4px;
    width: 150px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e8e8e8;
    font-weight: 750;
    /* font-size: 18px; */
    font-family: 'Montserrat', 'ui-sans-serif', 'system-ui', 'sans-serif', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.artist-details {
    font-size: 2vh; /* 5% of the viewport width */
    max-width: 80%;
    color: #e8e8e8;
    font-weight: 350;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 15px; */
    font-family: 'Montserrat', 'ui-sans-serif', 'system-ui', 'sans-serif', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.icons-row {
    color: rgb(255, 255, 255); 
    margin: 10px 8px ;
    width: 20px;
    /* height: 55px; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}


.icons-row-red i {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.icons-row-white i {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.ui-div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .ui-div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .ui-div:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  

  /* styles.css or TrackCard.css */

